# Tools and Methods of Data Analysis
## Session 1 - Part 2

Niels Hoppe <<niels.hoppe.extern@srh.de>>

### Setup

* Install [Visual Studio Code](https://code.visualstudio.com/docs/setup/setup-overview)
* Install [Anaconda](https://www.anaconda.com/)
* Restart
* Create conda environment

#### Create conda environment

Open conda PowerShell and run:

    conda create -n tmda python=3.10 jupyter pandas pyreadr seaborn

This will create a `conda` environment in `C:\Users\...\anaconda3\envs\tmda`

### Getting started

* Jupyter Notebooks
* Python
* Pandas

### Getting started with Jupyter Notebooks

* Open Visual Studio Code
* Create Jupyter Notebook
* Select conda environment as kernel

### Getting started with Python

Imports

Simple calculations

Variables

Output

#### Python Imports

* Python code is organized in modules and distributed in **packages**
* Public packages are available from the [Python Package Index (PyPI)](https://pypi.org)
* Packages must be **imported** before objects and methods can be used

#### Python Imports (cont.)

Simple import of `math` package:

In [93]:
import math

Import `numpy` package with alias:

In [94]:
import numpy as np

Selective import from `pandas` package:

In [95]:
from pandas import DataFrame, Series

#### Python Imports (cont.)

Packages used in this coures:

* [math](https://docs.python.org/3/library/math.html) (included in Python Standard Library)
* [numpy](https://pypi.org/project/numpy/)
* [pandas](https://pypi.org/project/pandas/)
* [pyreadr](https://pypi.org/project/pyreadr/)
* [seaborn](https://pypi.org/project/seaborn/)

#### Simple Calculations in Python

You can use Python like a calculator:

In [96]:
3 + 6 # addition

9

In [97]:
5 - 2 # substraction

3

In [98]:
4 * 3 # multiplication

12

In [99]:
18 / 6 # division

3.0

#### Simple Calculations in Python (cont.)

In [100]:
5 ** 2 # raise to higher power

25

In [101]:
5 ** (1/3) # root extraction

1.7099759466766968

In [102]:
math.sqrt(9) # square root

3.0

#### Simple Calculations in Python (cont.)

In [103]:
math.exp(2) # raise e to higher power

7.38905609893065

In [104]:
math.log(2) # natural logarithm

0.6931471805599453

In [105]:
math.log(2, 10) # logarithm with specified base

0.30102999566398114

#### Simple Calculations in Python (cont.)

In [106]:
math.sin(math.pi / 6) # trigonometric functions; sin, cos, tan

0.49999999999999994

In [107]:
abs(-3) # absolute value

3

In [108]:
round(2.456, 2) # round to two decimals

2.46

In [109]:
math.floor(1.6) # round down

1

In [110]:
math.ceil(1.3) # round up

2

#### Variables in Python

In [111]:
x = 5 + 4 # variable assignment
x

9

In [112]:
l = [2 * x for x in range(1, 10)] # list comprehension
l

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [113]:
d = { 'key1': 'Some value', 'key2': 42, 3: 'Another value' } # dictionary
d

{'key1': 'Some value', 'key2': 42, 3: 'Another value'}

### Getting started with Pandas

* Series and DataFrames
* Accessing DataFrames
* Loading data

#### Series and DataFrames in Pandas

A `Series` is a sequence of values.

In [114]:

Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### Series and DataFrames in Pandas (cont.)

A `DataFrame` is a table of values. It has `Series` as its columns.

In [115]:
df = DataFrame({
    'column1': [1, 2, 3, 4, 5],
    'column2': ['A', 'B', 'C', 'D', 'E']
}, index=['row1', 'row2', 'row3', 'row4', 'row5'])

df

      column1 column2
row1        1       A
row2        2       B
row3        3       C
row4        4       D
row5        5       E

#### Accessing DataFrames in Pandas

Pandas provides different access methods for `DataFrames`:

In [116]:
df.iloc[:, 0] # all rows, first column

row1    1
row2    2
row3    3
row4    4
row5    5
Name: column1, dtype: int64

In [117]:
df.iloc[2:4, :] # rows 3 to 4, all columns

      column1 column2
row3        3       C
row4        4       D

In [118]:
df.iloc[[0, 2, 4], 1:] # rows 1, 3 and 5; skip first column

     column2
row1       A
row3       C
row5       E

#### Accessing DataFrames in Pandas (cont.)

Pandas provides different access methods for `DataFrames`:

In [119]:
df.loc[:, 'column2'] # all rows, name based column

row1    A
row2    B
row3    C
row4    D
row5    E
Name: column2, dtype: object

#### Loading data

Data can be read from CSV files (.csv) ...

In [120]:
import pandas as pd

df = pd.read_csv('../data/data.csv')
df

   A  B  C
0  1  2  3
1  1  2  4
2  2  2  3

#### Loading data (cont.)

... or from R data files (.rda):

In [121]:

import pyreadr

data = pyreadr.read_r('../data/devore7/ex01.11.rda')
df = data['ex01.11']
df

          Scores
rownames
1             74
2             89
3             80
4             93
5             64
6             67
7             72
8             70
9             66
10            85
11            89
12            81
13            81
14            71
15            74
16            82
17            85
18            63
19            72
20            81
21            81
22            95
23            84
24            81
25            80
26            70
27            69
28            66
29            60
30            83
31            85
32            98
33            84
34            68
35            90
36            82
37            69
38            72
39            87
40            88

#### Loading data (cont.)

We can also create dummy data through sampling:

In [122]:
labels = ['A', 'B', 'C', 'D', 'F']
df = DataFrame(labels).sample(30, replace=True)

print(df[0].to_numpy())

['C' 'D' 'D' 'A' 'F' 'A' 'C' 'F' 'B' 'C' 'B' 'D' 'B' 'F' 'D' 'A' 'A' 'A'
 'C' 'D' 'A' 'D' 'F' 'B' 'F' 'F' 'B' 'F' 'D' 'D']

### Additional Resources

* https://www.learnpython.org/
* https://www.kaggle.com/
* https://www.statology.org/python-guides/