# Tools and Methods of Data Analysis
## Session 3 - Part 2

Niels Hoppe <<niels.hoppe.extern@srh.de>>

# Measures of Central Location and Spread

Calculate for the following exercises
* the mean,
* the 5% trimmed mean,
* the median,
* the interquartile range,
* the 30%-quantile,
* the variance, the standard deviation, the coefficient of variation,
* the five-point-summary,
* and construct a boxplot.

Utility functions for IQR and CoV

In [1]:
import pandas as pd

def calc_iqr(s: pd.Series):
    q1, q3 = s.quantile([0.25, 0.75])
    return q3 - q1

def calc_cov(s: pd.Series):
    return s.std() / s.mean()

## 2) Snow

The article “Snow Cover and Temperature Relationships in North America and Eurasia” (J. Climate and Applied Meteorology, 1983: 460–469) used statistical techniques to relate the amount of snow cover on each continent to average continental temperature.
Data presented there included the following ten observations on October snow cover for Eurasia during the years 1970–1979 (in million km²): (Data: ex01.37)
What would you report as a representative, or typical, value of October snow cover for this period

In [2]:
import pyreadr

data = pyreadr.read_r('../data/devore7/ex01.37.rda')
df = data['ex01.37']
df.describe()

              C1
count  10.000000
mean   12.010000
std     4.390761
min     6.500000
25%     9.400000
50%    11.350000
75%    14.000000
max    21.900000

## 3) Escape Time

A sample of 26 offshore oil workers took part in a simulated escape exercise, resulting in the accompanying data on time (sec) to complete the escape (“Oxygen Consumption and Ventilation During Escape from an Offshore Platform,” Ergonomics, 1997: 281–292): (Data: ex01.36)

In [3]:
import pyreadr

data = pyreadr.read_r('../data/devore7/ex01.36.rda')
df = data['ex01.36']
df.describe()

               C1
count   26.000000
mean   370.692308
std     24.358603
min    325.000000
25%    359.000000
50%    369.500000
75%    391.250000
max    424.000000

## 4) Crankcase Lubricants

The article “A Thin-Film Oxygen Uptake Test for the Evaluation of Automotive Crankcase Lubricants” (Lubric. Engr., 1984: 75–83) reported the following data on oxidation-induction time (min) for various commercial oils: (Data: ex01.51)

In [4]:
import pyreadr
from scipy import stats

data = pyreadr.read_r('../data/devore7/ex01.51.rda')
df = data['ex01.51']
df.describe()

               C1
count   19.000000
mean   134.894737
std     35.563550
min     87.000000
25%    104.000000
50%    132.000000
75%    152.500000
max    211.000000